body, html {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  * {
    box-sizing: border-box;
  }
}

.slides>section {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  background: #fff center center no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: [empty] 10vh [headline] 10vh [subheadline] 10vh [content] auto [end] 10vh;

  * {
    grid-row: content;
    align-self: center;
  }
  h1 {
    grid-row: headline;
    align-self: end;
  }
  h2 {
    grid-row: subheadline;
    align-self: start;
  }
}

footer {
  position: fixed;
  height: 60px;
  display: grid;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding-bottom: 5px;

  grid-template-columns: 30% auto 30%;

  * {
    align-self: center;
  }

  & :nth-child(1) {
    justify-self: left;
  }
  & :nth-child(2) {
    justify-self: center;
  }
  & :nth-child(3) {
    justify-self: right;
  }
}

.progressbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5px;
  padding: 0;
  margin: 0;

  .progress {
    padding: 0;
    margin: 0;
    width: 0;
    height: 5px;
    background: #fff;
  }
}

/* special cases */
section {
  &.splash, &.background {
    grid-template-rows: [empty] auto [headline] 20vh [subheadline] 20vh [end] auto;
  }

  &.splash.background {
    grid-template-rows: [empty] 10vh [headline] 20vh [subheadline] 20vh [end] auto;
  }
}