@import url('https://fonts.googleapis.com/css?family=Sarabun:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&subset=latin-ext');


$base-font-size: 3vh;
$font-family: 'Sarabun', sans-serif;

$color-dark: #053C59;
$color-medium-dark: #78645A;
$color-light: #fff;
$color-accent: #6E358C;
$color-accent-secondary: #FF3385;
$color-splash-background: #4A9B9E;

$color-font: $color-dark;
$color-font-light: $color-light;
