@import url("https://fonts.googleapis.com/css?family=Sarabun:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&subset=latin-ext");
body {
  color: #053C59;
  font-size: 3vh;
  font-family: "Sarabun", sans-serif; }

.slides > section * {
  justify-self: center;
  max-width: 90vw; }

.slides > section h1, .slides > section h2, .slides > section h3 {
  text-align: center;
  justify-self: auto;
  margin: 0;
  padding: 0;
  max-width: none; }

.slides > section h1 {
  font-size: 5rem;
  font-weight: 100;
  position: relative;
  padding-bottom: 10px; }
  .slides > section h1:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
    width: 60px;
    height: 3px;
    background-color: #6E358C; }

.slides > section h2 {
  font-size: 3rem;
  margin-top: 10px; }

.slides > section h3 {
  font-size: 2rem; }

.slides > section blockquote {
  position: relative;
  font-style: italic;
  z-index: 0;
  padding: 20px;
  background: #eee;
  border-radius: 5px; }
  .slides > section blockquote:after {
    content: '"';
    font-size: 10rem;
    position: absolute;
    color: #bbb;
    top: -70px;
    left: -30px;
    z-index: -10; }

.slides > section ul {
  line-height: 5rem; }

footer {
  background: #6E358C;
  color: #fff; }
  footer span {
    font-size: 1.5rem;
    padding: 0 30px; }

.hidden {
  display: none; }

/* special cases */
.slides > section.splash {
  background-color: #6E358C; }
  .slides > section.splash h1, .slides > section.splash h2, .slides > section.splash h3 {
    color: #fff; }

.slides > section.background h1, .slides > section.background h2, .slides > section.background h3 {
  color: #fff; }

.slides > section.splash.background {
  grid-template-rows: [empty] 10vh [headline] 20vh [subheadline] 20vh [end] auto; }
  .slides > section.splash.background h1, .slides > section.splash.background h2, .slides > section.splash.background h3 {
    display: inline-block;
    background: #78645A;
    color: #fff;
    padding: 20px 0; }
    .slides > section.splash.background h1:after, .slides > section.splash.background h2:after, .slides > section.splash.background h3:after {
      display: none; }

.progressbar {
  background: #6E358C; }

/*# sourceMappingURL=default.css.map */